body {
	background-color: #fff;
	color: #222;
	font: 16px/1.5 sans-serif;
	margin: 0;
}

header {
	background-color: #222;
	color: #fff;
}

header h1 {
	background-color: #00489C;
	margin: 0;
	padding: 0 1em;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav a {
	display: block;
	padding: 0.5em 1em;
	color: #fff;
	text-decoration: none;
}

header nav a:active {
	background-color: #fff;
	color: #00489C;
}

main img {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0px 0px 3px 0px rgba(51,51,51,0.75);
}

button {
	background-color: #00489C;
	color: #fff;
	border: 1px outset #00489C;
	font-size: 1em;
	padding: .3em .7em;
	margin-right: .5em;
}

.pricing {
	font-size: 0.9em;
	font-weight: bold;
}

.pricing s {
	color: #c00;
}

footer {
	background-color: #222;
	color: #fff;
}

.cf:before, .cf:after, footer:before, footer:after {
	content: " ";
	display: table;
}

.cf:after, footer:after {
	clear: both;
}



